/* ─── BASE / RESET ───────────────────────────── */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #8fb7da;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
