/* ─── PAGE CONTENT ─────────────────────────── */

.scrap-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  container-type: size;
  container-name: page;
}

/* ─── SCRAPBOOK PHOTO ────────────────────────── */

.scrap-photo-wrapper {
  position: absolute;
  border: 3px solid #3e2710;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.25);
  background: #fff;
  padding: 4px;
}

.scrap-sticker-wrapper {
  position: absolute;
  /* border: 3px solid #3e2710; */
  /* box-shadow: 3px 3px 0 rgba(0,0,0,0.25); */
  /* background: #fff; */
  /* padding: 4px; */
}

.scrap-photo {
  width: 100%;
  height: auto;
  display: block;
  image-rendering: pixelated;
  cursor: zoom-in;
  transition: transform 0.15s ease;
}

.scrap-photo:hover {
  transform: scale(1.03);
}

/* ─── SCRAPBOOK TEXT ─────────────────────────── */

.scrap-text {
  position: absolute;
  font-family: 'Press Start 2P', monospace;
  color: #3e2710;
  line-height: 2;
}

/* ─── PAGE SPECIFIC POSITIONS ──────────────── */
.p1-photo1 {
  top: 8%;
  right: 6%;
  width: 38cqw;
  rotate: 2deg;
}
.p1-text1 {
  top: 18%;
  left: 19%;
  width: 36cqw;
  font-size: 2cqw;
}
.p1-photo2 {
  top: 62%;
  right: 55%;
  width: 25cqw;
  rotate: -2deg;
}
.p1-text2 {
  top: 62%;
  left: 50%;
  width: 36cqw;
  font-size: 2cqw;
}

.audrey-avatar {
  top: 7%;
  left: 35%;
  width: 7cqw;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
}

.josh-avatar {
  top: 6.3%;
  left: 43%;
  width: 8cqw;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
}