/* ─── PAGE CONTENT ─────────────────────────── */

.scrap-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  container-type: size;
  container-name: page;
}

/* ─── SCRAPBOOK PHOTO ────────────────────────── */

.scrap-photo-wrapper {
  position: absolute;
  border: 3px solid #3e2710;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.25);
  background: #fff;
  padding: 4px;
}

.scrap-sticker-wrapper {
  position: absolute;
  /* border: 3px solid #3e2710; */
  /* box-shadow: 3px 3px 0 rgba(0,0,0,0.25); */
  /* background: #fff; */
  /* padding: 4px; */
}

.scrap-photo {
  width: 100%;
  height: auto;
  display: block;
  image-rendering: pixelated;
  cursor: zoom-in;
  transition: transform 0.15s ease;
}

.scrap-photo:hover {
  transform: scale(1.03);
}

/* ─── SCRAPBOOK TEXT ─────────────────────────── */

.scrap-text {
  position: absolute;
  font-family: 'Press Start 2P', monospace;
  color: #3e2710;
  line-height: 2;
}

/* ─── PAGE SPECIFIC POSITIONS ──────────────── */
.p2-photo1 {
  top: 8%;
  left: 9%;
  width: 33cqw;
  rotate: -5deg;
  background: #dfdfdf;
  /* border: none; */
  padding: 3cqw 3cqw 9cqw 3cqw;
  box-shadow:
    0 2px 4px rgba(0,0,0,0.15),
    0 6px 20px rgba(0,0,0,0.12);
}
.p2-photo1 .scrap-photo {
  border: 2px solid rgba(0, 0, 0, 0.603);
}
.p2-text1 {
  top: 18%;
  right: 17%;
  width: 36cqw;
  font-size: 2cqw;
}
.p2-photo2 {
  top: 50%;
  left: 10%;
  width: 38cqw;
  rotate: 3deg;
}
.p2-text2 {
  top: 80%;
  left: 50%;
  width: 36cqw;
  font-size: 2cqw;
}

.p2-photo3 {
  top: 43.5%;
  right: 20%;
  width: 25cqw;
  /* rotate: 3deg; */
}

.p2-sticker {
  top: 6%;
  right: 37%;
  width: 12cqw;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
  /* rotate: 3deg; */
}

/* .audrey-avatar {
  top: 7%;
  left: 35%;
  width: 7cqw;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
}

.josh-avatar {
  top: 6.3%;
  left: 43%;
  width: 8cqw;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
} */