/* ─── PAGE CONTENT ─────────────────────────── */

.scrap-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  container-type: size;
  container-name: page;
}

/* ─── SCRAPBOOK PHOTO ────────────────────────── */

.scrap-photo-wrapper {
  position: absolute;
  border: 3px solid #3e2710;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.25);
  background: #fff;
  padding: 4px;
}

.scrap-sticker-wrapper {
  position: absolute;
  /* border: 3px solid #3e2710; */
  /* box-shadow: 3px 3px 0 rgba(0,0,0,0.25); */
  /* background: #fff; */
  /* padding: 4px; */
}

.scrap-photo {
  width: 100%;
  height: auto;
  display: block;
  image-rendering: pixelated;
  cursor: zoom-in;
  transition: transform 0.15s ease;
}

.scrap-photo:hover {
  transform: scale(1.03);
}

/* ─── SCRAPBOOK TEXT ─────────────────────────── */

.scrap-text {
  position: absolute;
  font-family: 'Press Start 2P', monospace;
  color: #3e2710;
  line-height: 2;
  font-size: 2cqw;
}

/* ─── PAGE SPECIFIC POSITIONS ──────────────── */
.p10-photo1 {
  top: 8%;
  left: 9%;
  width: 37cqw;
  /* rotate: -5deg; */
}

.p10-photo2 {
  top: 32%;
  left: 9%;
  width: 38cqw;
  /* rotate: -5deg; */
}

.p10-photo3 {
  top: 50%;
  right: 18%;
  width: 34cqw;
  /* rotate: -3deg; */
}

.scrap-text.p10-text1 {
  top: 16%;
  right: 17%;
  width: 35cqw;
  /* rotate: -5deg; */
  font-size: 1.8cqw;
}

.p10-text2 {
  top: 59%;
  left: 8%;
  width: 40cqw;
  /* rotate: -3deg; */
}
