/* ─── PAGE CONTENT ─────────────────────────── */

.scrap-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  container-type: size;
  container-name: page;
}

/* ─── SCRAPBOOK PHOTO ────────────────────────── */

.scrap-photo-wrapper {
  position: absolute;
  border: 3px solid #3e2710;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.25);
  background: #fff;
  padding: 4px;
}

.scrap-sticker-wrapper {
  position: absolute;
  /* border: 3px solid #3e2710; */
  /* box-shadow: 3px 3px 0 rgba(0,0,0,0.25); */
  /* background: #fff; */
  /* padding: 4px; */
}

.scrap-photo {
  width: 100%;
  height: auto;
  display: block;
  image-rendering: pixelated;
  cursor: zoom-in;
  transition: transform 0.15s ease;
}

.scrap-photo:hover {
  transform: scale(1.03);
}

/* ─── SCRAPBOOK TEXT ─────────────────────────── */

.scrap-text {
  position: absolute;
  font-family: 'Press Start 2P', monospace;
  color: #3e2710;
  line-height: 2;
  font-size: 2cqw;
}

/* ─── PAGE SPECIFIC POSITIONS ──────────────── */
.p3-photo1 {
  top: 8%;
  right: 6%;
  width: 38cqw;
  rotate: 2deg;
}
.p3-text1 {
  top: 20%;
  left: 20%;
  width: 36cqw;
  font-size: 2cqw;
}
.p3-photo2 {
  top: 40%;
  left: 20%;
  width: 33cqw;
  rotate: -4deg;
}
.p3-photo3 {
  top: 45%;
  right: 6%;
  width: 40cqw;
  rotate: 1deg;
}

.scrap-text.p3-text2 {
  top: 86%;
  left: 58%;
  font-size: 2.5cqw;
  rotate: 2deg;
  white-space: nowrap;
}

.sleep{
  top: 5%;
  right: 52%;
  width: 16cqw;
  rotate: -40deg;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

.panda{
  top: 65%;
  left: 20%;
  width: 35cqw;
  rotate: -2deg;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}