/* ─── PAGE CONTENT ─────────────────────────── */

.scrap-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  container-type: size;
  container-name: page;
}

/* ─── SCRAPBOOK PHOTO ────────────────────────── */

.scrap-photo-wrapper {
  position: absolute;
  border: 3px solid #3e2710;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.25);
  background: #fff;
  padding: 4px;
}

.scrap-sticker-wrapper {
  position: absolute;
  /* border: 3px solid #3e2710; */
  /* box-shadow: 3px 3px 0 rgba(0,0,0,0.25); */
  /* background: #fff; */
  /* padding: 4px; */
}

.scrap-photo {
  width: 100%;
  height: auto;
  display: block;
  image-rendering: pixelated;
  cursor: zoom-in;
  transition: transform 0.15s ease;
}

.scrap-photo:hover {
  transform: scale(1.03);
}

/* ─── SCRAPBOOK TEXT ─────────────────────────── */

.scrap-text {
  position: absolute;
  font-family: 'Press Start 2P', monospace;
  color: #3e2710;
  line-height: 2;
}

/* ─── PAGE SPECIFIC POSITIONS ──────────────── */
.p4-photo1 {
  top: 8%;
  left: 9%;
  width: 45cqw;
  rotate: -5deg;
}

.p4-text1 {
  top: 20%;
  right: 18%;
  width: 25cqw;
  rotate: -5deg;
}

.p4-photo2 {
  top: 42%;
  right: 18%;
  width: 40cqw;
  rotate: -3deg;
}

.p4-text2 {
  top: 60%;
  left: 11%;
  width: 32cqw;
  rotate: -2deg;
}

.vs {
  top: 36%;
  left: 28%;
  width: 27cqw;
  rotate: -15deg;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
